.idea
.python-version
src/restricted_algebraic_immunity.egg-info
**__pycache__**
largeMatrices
notebooks/.ipynb_checkpoints

src/restricted_algebraic_immunity/full_reed_muller/pre_computation/largeMatrices

gf2_linear_algebra_utils
build